@charset "UTF-8";

html,
body {
	font-family: source-sans-pro;
  text-align: center;
	background-color: #fff;
  margin: 0;
  padding: 0;
	font-style: normal;
  min-width: 320px;
}
ul {
    list-style: outside none none;
}
.aboutme {
  top: 0;
  background: #6909;
  min-height: 60vh;
  padding-top: 40vh;
}
.aboutme h1, p{
  color: blue;
}

header {
    width: 100%;
    min-width: 300;
    height: 70px;
    background-color: #333;
    rgba(0,0,0,0.6)
    position: relative;
    z-index: 9999;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.5s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
@media (max-width:460)
 #main {
  margin: 0;
  }
.block {
  background-color: gray;
  color: white;
  padding: 50px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  padding-top: 1%;
  padding-bottom: 1%;
}
a {
    color: white
}
@media only screen {
    min-height:1007px;
  }
 .project {
    margin: 30px 0;
  }
.copyright {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #333;
	color: #FFFFFF;
	letter-spacing: 1px;
}


